.contenedor__table{
    margin: 13px;
    table {
      color: #fff;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: center;
      padding: 8px;
    }
    &__editar {
      margin: 10px;
      width: 100px;
      padding: 10px;
      background: #07a934;
      font-size: 17px;
      color: #fff;
      cursor: pointer;
    }
    &__eliminar {
      width: 100px;
      padding: 10px;
      background: #ff1d25;
      font-size: 17px;
      color: #fff;
      cursor: pointer;
    }
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
  // position: fixed;
  // top: 0;
  width: 100%;
}

li {
  float: center;
  text-shadow: 2px 2px 5px red;
  font-weight: bold;
  font-size: 25px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.noDatos{
  text-align: center;
}
.imagen{
  width: 30px;
}