.contenedor {
  &__titulo {
    color: white;
    margin-left: 13px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    &__buscar {
      font-size: 17px;
      padding: 12px;
      margin: 13px;
    }
    &__boton {
      margin: 13px;
      padding: 12px;
      background: #07a934;
      font-size: 17px;
      color: #fff;
      cursor: pointer;
    }
  }
}
